# React Native
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# iOS
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
DerivedData
*.xcworkspace

# Android
android/.gradle/
android/app/build/
*.keystore

# Misc
.env
